/*@color-1: #fe083c;
@color-2: #fff;
@color-3: #9d011d;
@color-4: #e0007c;
@color-5: #500a21;*/
.layout-simple .sidebar {
  background-color: #a10022;
}
.layout-simple .sidebar > nav > ul li:not(.nav-text):hover {
  background: #92001f;
}
.layout-simple .sidebar > nav > ul li {
  color: #ffd4dd;
}
.layout-simple .sidebar > nav > ul li a {
  color: #ffd4dd;
}
.layout-simple .sidebar > nav .nav-text {
  color: #ff083d;
}
.layout-simple .header {
  box-shadow: 0 -5px 10px 0px #a10022;
}
#sidebar-header {
  color: #ffffff;
  background: #6e0018;
}
#page-header {
  color: #ff083d;
}
.icon-list li {
  border-color: #ff3b65;
}
a {
  color: #ff083d;
}
.panels .panel {
  box-shadow: 0 0 3px 0px #ff083d;
}
.tabs .tab-page {
  border: 1px solid #ff3b65;
  border-top: none;
}
.tabs nav.tab-nav {
  border-bottom: 1px solid #ff3b65;
}
.tabs nav.tab-nav ul li.active {
  background: #fff;
  border-color: #ff3b65;
  border: 1px solid #ff3b65;
  border-bottom: none;
}
table tbody {
  color: #6e0018;
}
table.striped thead th {
  background: #ff083d;
  color: #ffffff;
}
table tbody tr:nth-child(odd) {
  background: #ffd4dd;
}
table.hover tbody tr:hover {
  background: #fff3f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff3b65;
}
input[type="checkbox"] {
  position: relative;
  width: 15px;
  height: 15px;
  appearance: none;
  background: transparent;
  border: 2px solid #ff3b65;
  border-radius: 2px;
  margin: 0;
  outline: none;
  transition: 0.5s ease;
  opacity: 0.8;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  border-color: #ff3b65;
  background-color: #ff083d;
}
input[type="checkbox"]:checked:before {
  position: absolute;
  left: 0px;
  top: -4px;
  display: block;
  content: '\2713';
  text-align: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: 800;
}
input[type="checkbox"]:hover {
  opacity: 1;
  transform: scale(1.05);
}
.layout-simple {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 50px auto;
  height: 100vh;
}
.layout-simple .sidebar {
  grid-row: span 2;
  padding: 10px;
  z-index: 100;
}
.layout-simple .sidebar > nav > ul {
  list-style: none;
  padding: 5px;
}
.layout-simple .sidebar > nav > ul li {
  height: 34px;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
}
.layout-simple .sidebar > nav > ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}
.layout-simple .sidebar > nav > ul li a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  user-select: none;
}
.layout-simple .sidebar > nav .nav-text {
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  user-select: none;
}
#sidebar-header {
  padding: 5px;
  border-radius: 5px;
  user-select: none;
}
#sidebar-header i {
  padding: 0 5px;
}
#page-header {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rajdhani/v10/LDIxapCSOBg7S-QT7q4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vAkA.ttf) format('truetype');
}
#sidebar-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 26px;
}
.sidebar > nav > ul li {
  font-size: 15px;
}
.sidebar > nav a {
  font-family: 'Source Sans Pro', sans-serif;
}
.sidebar > nav .nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
#page-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
.tabs nav.tab-nav ul li a {
  font-size: 14px;
}
* {
  font-family: 'Source Sans Pro', sans-serif;
}
table td {
  font-family: 'Rajdhani', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.btn {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.content {
  max-height: 100%;
  overflow: auto;
}
.header {
  display: grid;
  grid-template-columns: auto auto;
}
.header ul.icon-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  height: 100%;
}
.header ul.icon-list li {
  display: flex;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}
.header ul.icon-list.horizontal {
  align-items: stretch;
}
.header ul.icon-list.horizontal a {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
}
.header ul.icon-list.horizontal i {
  font-size: 30px;
  padding: 0 10px;
  flex-grow: 1;
}
.header ul.icon-list.right {
  justify-self: flex-end;
}
.panels {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.panels .panel {
  height: 100%;
}
.tabs {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}
.tabs .tab-page {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
  box-sizing: border-box;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 100%;
}
.tabs nav.tab-nav {
  padding-top: 10px;
  position: relative;
  z-index: 101;
}
.tabs nav.tab-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  height: 100%;
  margin: 0;
}
.tabs nav.tab-nav ul li {
  padding: 5px 10px;
  position: relative;
  top: 1px;
  border: 1px solid transparent;
}
.tabs nav.tab-nav ul li i {
  width: 20px;
}
.tabs nav.tab-nav ul li.active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 101;
}
.tablebox {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.tablebox table {
  position: relative;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  table-layout: fixed;
}
.tablebox table th {
  position: sticky;
  top: 0px;
  text-align: left;
  box-sizing: border-box;
  z-index: 1000;
}
.tablebox table th,
.tablebox table td {
  padding: 3px;
}
.tablebox table.hover tbody tr {
  cursor: pointer;
}
.grid2x2 {
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.grid2x1 {
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.grid1x1 {
  max-height: 100%;
  height: 100%;
  display: grid;
}
.flexRow {
  display: flex;
  align-items: center;
}
.flexRow.stretch {
  justify-content: stretch;
}
.flexRow * {
  flex-grow: 1;
}
.grid-panel {
  display: flex;
  max-height: 100%;
  min-height: 10%;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
}
.grid-panel hr {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}
.field {
  display: flex;
  margin: 5px 0;
}
.field label:after {
  content: ': ';
}
.field p {
  margin: 0 5px;
}
.field input.long {
  width: 200px;
}
.block {
  width: 100%;
  margin: 2px;
}
.btn {
  display: inline-block;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 5px;
  width: min-content;
  white-space: nowrap;
  cursor: pointer;
  margin: 2px;
  transition: all 50ms linear;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
}
.btn.btn-block {
  width: 100%;
}
.btn:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.btn.btn-positive {
  border-color: #ff3b65;
  color: #ff3b65;
}
.btn.btn-positive:hover {
  background-color: #ff3b65;
  color: #fff;
}
.btn.btn-negative {
  border-color: #ff943b;
  color: #ff943b;
}
.btn.btn-negative:hover {
  background-color: #ff943b;
  color: #fff;
}
.btn.btn-neutral {
  border-color: #3bc7ff;
  color: #3bc7ff;
}
.btn.btn-neutral:hover {
  background-color: #3bc7ff;
  color: #fff;
}
table .btn {
  display: inline-block;
  border: 2px solid #333;
  border-radius: 2px;
  padding: 2px;
  width: min-content;
  white-space: nowrap;
  cursor: pointer;
  margin: 2px;
  transition: all 50ms linear;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  background: #fff;
}
body {
  padding: 0;
  margin: 0;
}